<div class="row">
    <div class="col-12">
        <h4>
            courses list
        </h4>
        <hr>
    </div>

    
    <div class="col-12">
        <p *ngIf ="clickedCourseTitle">
            Course {{ clickedCourseTitle}} is clicked
        </p>
        <ul class="list-group">
           <app-course-item *ngFor="let course of courses"
            [title]="course.title"
            [instructor]="course.instructor"
            [isAvailabel]="course.isAvailabel"(courseClick) ="onCourseClick($event)" (click)="onCourseItemClick(course)"></app-course-item>
        </ul>

    </div>
</div>